@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

/*code*/
.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 32px;
  color: #333; 
}

.left-links, .right-links {
  display: flex;
  gap: 24px;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
  text-align: center;
  gap: 16px;
}

.footer {
  background: #eee;
}

/*/code*/

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 6px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

