/* Add CSS Styling */

p{
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color:rgb(0,0,256);
    font-size: 36px;
}

.cooler{
    font-size: 24px;
}

#fourth{
    background-color:lightgreen;
    font-size: 24px;
    font-weight: bold;
}