/* Add CSS Styling */

p{
    background-color: rgb(255, 182, 193);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color:rgb(0,0,256);
    font-size: 36px;
}

.cooler{
    font-size: 24px;
}

#fourth{
    background-color:rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}