body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  align-items: center;
  padding-left: 16px;
}

.footer {
  display: flex;
  height: 72px;
  background: #eee;
  color: darkmagenta;
  justify-content: center;
  align-items: center;

}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  flex-basis: 300px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 16px;
  height: 300px;


}

/* my code here */
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  padding: 48px;
  
}

.content > * {
  flex: 1 1 200px;
  min-width: 150px;
  min-height: 200px;
  background: floralwhite;
}

.sidebar > ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.sidebar > ul > li {
  list-style-type: none;
  padding-bottom: 16px;

}

.sidebar > ul {
  padding-left: 20px;
}