.right,
.left {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.right {
    background-color: rgb(0,0,0);
    color: rgb(255, 255, 255);
}

.left {
    background-color: rgb(225, 255, 0);
}